# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../../:\Users\Daniel\Desktop\My Files\FEI\2rocnik\Letny semester\OOP\IntelliJ IDEA\cvicenie01\OOP-Cvicenie1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
